<h1 class="page-header">Dashboard</h1>
<p class="text-3xl">
    <span class="font-hairline">Hello, </span><span class="font-bold"><%= @user.name %>!</span>
</p>

<%= render("alert_dialog.html", alert: @alert) %>