<div>

<h2>Dashboard</h2>

  <div class="dashboard-input">
    <input type="text" placeholder="http://"/>
    <div role="button" id="quick-add-button" class="bg-blue-dark text-white rounded-full py-2 px-4">Quick Add</div>
  </div>
</div>