
@tailwind base;
 
@tailwind components;

input {
  @apply appearance-none border-b py-2 px-3 text-gray-700 leading-tight;
}

input:focus {
  @apply outline-none shadow-outline;
}

.circle-button {
  @apply bg-indigo-700 text-white rounded-full py-2 px-4;
}

.circle-button-outlined {
  @apply border border-indigo-700 text-indigo-700 rounded-full py-2 px-4;
}

.chip {
  @apply rounded-full inline-block px-2;
}

.chip-outlined {
  @apply border border-indigo-700 text-indigo-700 ;
}

.chip-filled {
  @apply bg-indigo-700 text-white ;
}
  
.chip > div {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 4px
}

.tag-card {
  @apply rounded;
  @apply p-4;
  @apply shadow;
  display: grid;
  grid-template-areas: 
    "cardtitle subscribe"
    "count count";
  justify-content: space-between;
  row-gap: 48px;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.tag-card:hover {
  transform: scale(1.02);
}

.link-card {
  @apply mb-8 shadow bg-white px-4 py-8;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  position: relative;
  overflow: hidden;
}

.link-card:before {
  @apply bg-indigo-700;
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  transform: translateY(4px);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.link-card:hover:before, .link-card:focus:before {
  transform: translateY(0);
}

.subscribe {
  grid-area: subscribe;
}

.count {
  grid-area: count;
  opacity: 0.8;
}

.cardtitle {
  @apply text-lg;
  grid-area: cardtitle;
}

h1 {
  @apply text-2xl;
}

.page-header {
  @apply mb-8;
}

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap');

body {
  @apply bg-indigo-900;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  display: grid;
  height: 100vh;
  width: 100%;
  top: 0;
  right: 0;
  grid-template-areas: 'section main';
  grid-template-columns: 1fr 5fr;
  column-gap: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

section {
  grid-area: section;
  display: grid;
  grid-template-rows: min-content auto;

  row-gap: 24px;
  color: #fff;
}

section > div {
  flex: 1;
  border-radius: 16px;
  padding: 16px 8px;
}

#brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#brand > img {
  max-width: 40%;
  margin-bottom: 16px;
}

#brand > h4 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#sidebar-links > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sidebar-links > ul  li {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 24px;
  border-radius: 8px;
}

main {
  grid-area: main;
  background-color: #f1f5f8;
  border-radius: 32px 0 0 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

main > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}